.container {
  margin: auto;
  border: 1px solid grey;
  text-align: center;
}
.flashcards {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
  width: 90%;
  margin: auto;
}
.card {
  padding: 10px;
  box-shadow: 1px 1px 5px 2px #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;
}
